h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.side-padding {
  padding-left: 20px;
  padding-right: 20px;

}

.centered-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding-left: 10px;
  padding-right: 10px;

}

table {
  width: 100%;
  text-align: left;
  color: #4a4a4a;
}

tr {
  border-top: 1px solid #ddd;
}

tr:first-child {
  border-top: none;
}

td,
th {
  line-height: 1.5;
  padding: 10px 5px;
}

th {
  opacity: 0.5;
  font-weight: normal;
}

input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn_size_big {
    height: 40px;
    line-height: 50px;
}

.btn_groupped_right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn_color_green {
    background-color: #24dab4;
}

.header__signup-form_email-input {
    padding: 0 20px;
    color: #9b9b9b;
    font-weight: 300;
    font-size: 16px;
    width: 380px;
    display: inline-block;
}

.header__signup-form_email-input {
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    border: none;
    font-size: 16px;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50%;
    display: inline-block;
}

input, textarea {
    padding: 5px;
    height: 40px;
    font-size: 25px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header__signup-form .btn {
    font-size: 16px;
    font-weight: 300;
    padding: 0px 30px;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.btn {
    border-radius: 4px;
    line-height: 40px;
    display: inline-block;
    height: 40px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
    border: none;
    vertical-align: middle;
    font-family: Open Sans;
}

#footer {
    display: block;
    padding: 20px 0;
    background: #4DECB8;
    width: 100%;
}
